<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head><%- include('../partials/head/admin') %></head>
<body class="bg-gray-50">
  <%- include('../partials/header/admin') %>

  <!-- Dashboard Section -->
  <div id="dashboard-section">
  <%- include('../dashboard/dashboard') %>
  </div>

  <!-- Book Appointment Section (Initially hidden) -->
  <div id="book-appointment-section" class="hidden">
    
  </div>

  

<footer>
  <%- include('../partials/footer/admin') %>
</footer>
</body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
<head><%- include('../partials/head/admin') %></head>
<body class="bg-gray-50">
  <%- include('../partials/header/admin') %>

  <!-- Dashboard Section -->
  <div id="dashboard-section">
  <%- include('../dashboard/dashboard') %>
  </div>

  <!-- Book Appointment Section (Initially hidden) -->
  <div id="book-appointment-section" class="hidden">
    
  </div>

  

<footer>
  <%- include('../partials/footer/admin') %>
</footer>
</body>
</html>
>>>>>>> 2aa45ee (Initial commit)
